<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]
</IfModule>
<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+).html [NC]

RewriteRule .+ /%1 [L,R=301]

RewriteCond %{REQUEST_FILENAME}.html -f

RewriteRule (.*)/?$ /$1.html [L]
</IfModule>
