/* GLOBAL */
a {
    text-decoration-line: none;
}

a:-webkit-any-link {
    color: black !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.page-banner {
    background-color: black;
    position: relative;
}

.page-banner-image {
    width: 100%;
    object-fit: cover;
    height: 500px;
    opacity: 0.5;
    display: block;
}

.page-spec-image {
    width: 100%;
    object-fit: cover;
    height: 400px;
    display: block;
}

.page-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-banner-title {
    text-align: center;
    font-family: "Barlow";
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    color: white;
}

.page-banner-description {
    text-align: center;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: white;
    max-width: 700px;
}

.page-padder {
    height: 100px;
}

@media(max-width: 500px) {
    .page-padder {
        height: 50px;
    }
}

/* WSC */
.wsc-container {
    max-width: 100%;
    margin: auto;
}

.wsc-box {
    max-width: 1200px;
    padding: 20px 4vw 20px 4vw;
    margin: auto;
}

.wsc-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

/* Our Sponsors */
.our-sponsors-container {
    max-width: 100%;
    margin: auto;
}

.our-sponsors-box {
    max-width: 1200px;
    padding: 20px 4vw 20px 4vw;
    margin: auto;
}

.our-sponsors-title {
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    max-width: 100%;
    padding-bottom: 5px;
    color: #162854;
    border-bottom: 1px solid #162854;
    margin: 30px 0px 30px 0px;
}

.our-sponsors-image {
    display: block;
    max-width: 90%;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.our-sponsors-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.our-sponsors-grid-1 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.our-sponsors-grid-2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.our-sponsors-grid-3 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.our-sponsors-grid-5 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.our-sponsors-company:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-sponsors-bas-container {
    max-width: 250px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.our-sponsors-bas-text {
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 500;
    color: #162854;
}

.link {
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}

.link--arrowed .arrow-icon {
    position: relative;
    top: -3px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}

.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
}

.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

/* Become a Sponsors */
.become-a-sponsor-container {
    max-width: 100%;
    margin: auto;
}

.become-a-sponsor-box {
    max-width: 1200px;
    padding: 20px 0px 20px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* SOLAR CARS */
.cars-container {
    max-width: 100%;
    margin: auto;
}

.cars-box {
    max-width: 1200px;
    margin: auto;
    padding: 40px 4vw 40px 4vw;
}

.cars-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.cars-title {
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    max-width: 100%;
    padding-bottom: 5px;
    color: #162854;
    border-bottom: 1px solid #162854;
}

.cars-11 {
    padding-bottom: 40px;
}

.cars-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 0 0 40px 0;
}

.cars-image {
    max-width: 100%;
    margin: auto;
    display: block;
}

.cars-left {
    padding-right: 1vw;
}

.cars-right {
    padding-left: 1vw;
}

@media(max-width: 900px) {
    .cars-grid {
        grid-template-columns: 1fr;
    }

    .cars-left {
        padding-right: unset;
    }

    .cars-right {
        padding-left: unset;
    }

    .cars-image {
        padding-top: 20px;
        max-width: 500px;
    }
}

@media(max-width: 600px) {
    .cars-image {
        max-width: 100%;
    }
}

/* TEAM */
.team-container {
    max-width: 100%;
    margin: auto;
}

.team-box {
    max-width: 1200px;
    padding: 20px 4vw 20px 4vw;
    margin: auto;
}

.team-title {
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    max-width: 100%;
    padding-bottom: 5px;
    color: #162854;
    border-bottom: 1px solid #162854;
    margin: 30px 0px 30px 0px;
}

.team-member-image {
    width: 100%;
    height: 100%;
}

.team-member-item {
    margin: 0px 10px 0px 10px;
    background-color: black;
    position: relative;
}

.team-member-info {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-member-name {
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.slick-dots {
    position: unset !important;
}

.team-member-position {
    font-family: "Barlow";
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.team-member-program {
    font-family: "Barlow";
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.team-member-item:hover .team-member-image {
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.team-member-item:hover .team-member-info {
    display: block;
    animation: fadeInUp 0.5s;
}

/* HOME/INDEX */
.home-container {
    max-width: 100%;
    margin: auto;
    display: block;
}

.home-image-container {
    position: relative;
    text-align: center;
}

.home-image {
    width: 100%;
    display: block;
}

.home-image-text {
    width: 100%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Barlow Semi Condensed";
    font-size: 144px;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 6px 6px 0px #162854;
}

.home-icon {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-intro-box {
    padding: 80px 4vw 0px 4vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.home-who-box {
    padding: 80px 4vw 0px 4vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.home-left {
    padding-right: 1vw;
}

.home-right {
    padding-left: 1vw;
}

.home-intro-title {
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    color: #162854;
    padding-bottom: 20px;
}

.home-intro-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

.home-values-box {
    padding: 80px 0px 80px 0px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.home-values-item {
    padding: 0px 40px 40px 40px;
}

.home-values-title {
    font-family: "Barlow Semi Condensed";
    font-size: 32px;
    font-weight: 700;
    color: #262626;
    text-align: center;
    padding-bottom: 10px;
}

.home-values-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin: auto;
}

@media(max-width: 1700px) {
    .home-image-text {
        font-size: 128px;
    }
}

@media(max-width: 1500px) {
    .home-image-text {
        font-size: 110px;
    }
}

@media(max-width: 1300px) {
    .home-image-text {
        font-size: 96px;
        text-shadow: 4px 4px 0px #162854;
    }
}

@media(max-width: 1100px) {
    .home-image-text {
        font-size: 72px;
    }
}

@media(max-width: 900px) {
    .home-image-text {
        font-size: 64px;
    }
}

@media(max-width: 700px) {
    .home-image-text {
        font-size: 48px;
    }

    .home-intro-box {
        padding-top: 40px;
    }

    .home-who-box {
        padding-top: 40px;
    }

    .home-values-box {
        grid-template-columns: 1fr;
    }

    .home-values-text {
        max-width: 250px;
    }

    .home-image-text {
        text-shadow: 2px 2px 0px #162854;
    }
}

@media(max-width: 500px) {
    .home-image-text {
        font-size: 36px;
    }
}

@media(max-width: 400px) {
    .home-image-text {
        font-size: 28px;
    }
}

.who-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}

.who-image {
    max-width: 100%;
    margin: auto;
    display: block;
}

.cycle-box {
    position: relative;
    background-color: black;
}

.cycle-content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.cycle-title {
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.cycle-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 50px;
    max-width: 1000px;
    margin: auto;
    color: white;
    text-align: center;
}

.cycle-dev-box {
    padding: 40px 4vw 40px 4vw;
}

.cycle-dev-title {
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.cycle-dev-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.cycle-outreach-box {
    padding: 40px 4vw 40px 4vw;
    background-color: #162854;
}

.cycle-outreach-title {
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    color: white;
}

.cycle-outreach-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    max-width: 1000px;
    margin: auto;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.cycle-outreach-icon {
    vertical-align: middle;
    height: 18px;
}

.cycle-outreach-icon-2 {
    vertical-align: middle;
    height: 18px;
    display: none;
}

#playBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.playBtn {
    width: 60px;
    height: 60px;
    background-color: #162854;
    border-radius: 100%;
    border: #fff solid 2px;
    position: relative;
    animation: shadowPulse 1.5s infinite linear;
}

a.playBtn::before {
    position: absolute;
    content: '';
    border-top: transparent 15px solid;
    border-bottom: transparent 15px solid;
    border-left: #fff 25px solid;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

a.playBtn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: #fff solid 2px;
    border-radius: 100%;
    animation: ringPulse 1.5s infinite linear;
}

@media(max-width: 1200px) {
    .home-intro-box {
        grid-template-columns: 1fr;
    }

    .home-who-box {
        grid-template-columns: 1fr;
    }

    .home-left {
        padding-right: 0vw;
        padding-bottom: 30px;
    }

    .home-right {
        padding-left: 0vw;
        padding-bottom: 30px;
    }

    .home-who-box .home-right {
        grid-row: 1;
    }

    .who-image {
        max-width: 600px;
    }
}

@media(max-width: 700px) {
    .who-image {
        max-width: 100%;
    }
}

@keyframes ringPulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    10% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    }

    10% {
        box-shadow: 0 0 8px 6px #162854, 0 0 6px 10px transparent, 0 0 6px 5px #162854;
    }

    80%,
    100% {
        box-shadow: 0 0 8px 6px transparent, 0 0 0 10px transparent, 0 0 0 10px transparent;
    }
}

.cycle-box-2 {
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: white;
}

.cycle-image {
    max-width: 100%;
    display: block;
    opacity: 0.3;
}

#cycle-padder {
    height: 700px;
}

@media(max-width: 1350px) {
    .cycle-content {
        position: unset;
        transform: translate(0%, 0%);
    }

    .cycle-image {
        display: none;
    }

    .cycle-box-2 {
        grid-template-columns: 1fr;
        width: unset;
        box-shadow: unset;
        margin-top: unset;
    }

    .cycle-title {
        display: none;
    }

    .cycle-text {
        display: none;
    }

    #playBtn {
        display: none;
    }

    #cycle-padder {
        height: unset;
    }

    .cycle-dev-text {
        max-width: unset;
    }

    .cycle-outreach-box {
        background-color: unset;
        padding-bottom: 80px;
    }

    .cycle-outreach-icon {
        display: none;
    }

    .cycle-outreach-icon-2 {
        display: unset;
    }

    .cycle-outreach-text {
        color: #000000;
        max-width: unset;
    }

    .cycle-outreach-title {
        color: #000000
    }

    .cycle-box {
        position: unset;
        background-color: unset;
    }

    .home-values-box {
        padding: 50px 0px 0px 0px;
    }
}

/* HEADER */
.header-container {
    max-width: 100%;
    margin: auto;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-box {
    max-width: 1200px;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr 2fr 2fr 1fr;
    margin: auto;
    z-index: 1;
    padding: 0vh 3vh 0vh 3vh;
}

.header-logo {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.header-logo-hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-item {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    line-height: 100px;
    text-align: left;
}

.header-title {
    display: inline-block;
    position: relative;
    color: black;
}

.header-title:hover {
    color: #162854;
}

.header-item:hover .header-title:after {
    transform: scaleX(1);
    transform-origin: left;
}

.header-item:hover a:-webkit-any-link:hover {
    color: #162854 !important;
}

.header-item:hover header-title {
    color: #162854;
}

.header-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 30px;
    left: 0;
    color: #162854;
    background-color: #162854;
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.dropdown-item {
    line-height: 30px;
    height: 35px;
    text-align: left;
    display: block;
}

.dropdown-text {
    display: inline-block;
    position: relative;
}

.dropdown-text:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.dropdown-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.header-hamburger-container {
    display: none;
    position: relative;
    height: 100px;
    margin: auto;
    z-index: 1;
}

.header-hamburger-logo {
    width: 100%;
    margin: auto;
}

.header-hamburger {
    float: right;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    padding-right: 5vw;
}

.header-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.header-hamburger-dropdown {
    float: right;
    right: 0%;
    position: absolute;
    display: none;
    top: 100px;
    z-index: 1;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-hamburger-dropdown-item {
    padding: 10px 20px 10px 20px;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.header-hamburger-dropdown-item:hover {
    background-color: #162854;
}

.header-hamburger-dropdown-item:hover {
    background-color: #162854;
    color: #FFFFFF
}

.header-hamburger.active .header-bar:nth-child(2) {
    opacity: 0;
}

.header-hamburger.active .header-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header-hamburger.active .header-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.header-hamburger-dropdown.active {
    display: block;
    animation: fadeInDown 0.5s;
    transform-origin: top;
}

@media(max-width: 800px) {
    .header-box {
        display: none;
    }

    .header-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-hamburger-container {
        display: block;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        top: 70%;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}

/* ABOUT US DROPDOWN */
.about-us-dropdown {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    top: 100px;
    padding: 15px 20px 15px 20px;
    animation: fadeInDown 0.5s;
    transform-origin: top;
}

#about-us:hover .about-us-dropdown {
    display: block;
}

/* SPONSORS DROPDOWN */
.sponsors-dropdown {
    display: none;
    position: absolute;
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    top: 100px;
    padding: 15px 20px 15px 20px;
    animation: fadeInDown 0.5s;
    transform-origin: top;
}

#sponsors:hover .sponsors-dropdown {
    display: block;
}

/* CONTACT US */
.contact-container {
    max-width: 100%;
    margin: auto;
}

.contact-box {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.contact-left {
    padding-left: 6vh;
    padding-right: 3vh;
}

.contact-title {
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    color: #162854;
    padding-bottom: 20px;
}

.contact-text {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

.contact-info {
    padding: 30px 0px 30px 0px;
    display: grid;
    grid-template-columns: 7fr 10fr;
}

.contact-info-text {
    text-align: center;
}

@media(max-width:450px) {
    .contact-info {
        grid-template-columns: 1fr;
    }

    .contact-info-text {
        text-align: left;
    }
}

.contact-info-detail {
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    color: #162854;
}

.contact-map {
    display: block;
    margin: 0 auto;
}

.contact-right {
    padding-left: 3vh;
    padding-right: 6vh;
}

input[type=text],
input[type=email],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow';
    font-weight: 500;
    outline: none;
    border: 1px solid #162854;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    background: #162854;
    color: white;
    box-sizing: border-box;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 500;
    border: none;
}

@media (max-width: 900px) {
    .contact-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-location {
        display: none;
    }

    .contact-left {
        padding-left: 3vh;
    }

    .contact-right {
        padding-right: 3vh;
    }
}

@media (max-width: 400px) {
    .contact-info {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* FOOTER */
.footer-container {
    max-width: 100%;
    background-color: #162854;
    margin: auto;
}

.footer-box {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    padding: 80px 0px 80px 0px;
}

.footer-logo {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.footer-info {
    height: 90px;
    margin: auto;
    padding: 0 3vw 0 3vw;
}

.footer-text {
    font-family: "Barlow Semi Condensed";
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 30px;
    line-height: 30px;
}

.footer-socials {
    height: 90px
}

.footer-follow-us {
    text-align: center;
    padding-bottom: 10px;
    font-family: "Barlow Semi Condensed";
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.footer-icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 120px;
}

.footer-icon {
    display: block;
    margin: auto;
}

/* EMBEDDED GOOGLE MAP */
#map {
    min-width: 50%;
    min-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

iframe {
    display: block;
    width: 100%;
    min-height: 800px;
}
  
.map-box {
    min-width: 100%;
    min-height: 900px;
    margin: auto;
    padding: 80px 4vw 80px 4vw;
    display: flex;
    flex-direction: column;
}

.map-image {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.map-title {
    text-align: center;
    max-width: 100%;
    margin: 30px 0px 30px 0px;
    font-family: "Barlow Semi Condensed";
    font-size: 24px;
    font-weight: 700;
    color: #162854;
    padding-bottom: 20px;
}
  
@media (max-width: 1000px) {
    .footer-box {
        grid-template-columns: 1fr;
        padding: 20px 0px 20px 0px;
    }

    .footer-text {
        text-align: center;
    }

    .footer-follow-us {
        display: none;
    }

    .footer-icon-box {
        padding-top: 20px;
    }

    .footer-logo {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 450px) {
    .footer-info {
        padding-bottom: 20px;
    }
}